body {
    font-size: 16px;
    padding: 10px;
    background-color: rgb(84, 99, 119);
  }
  
  
  @media (min-width: 768px) {
    body {
      display: none; 
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #424955;
    height: 60px;
    border-radius: 10px;
  }

  .navbar img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
  }

  .navbar h1 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    flex: 1;
  }

  .menu {
    width: 25px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu div {
    height: 3px;
    background-color: #333;
    border-radius: 2px;
  }
    .imagenes1 {
display: flex;
justify-content: space-between;
padding-left: 15px;
padding-right:15px ;
    }
    .imagenes1 img {
        width: 150px ; height:150px ;
        border-radius: 20px;
        
    }

    .productos{
    
        flex: 1;
    } 